/*Elemento comun a todo html*/
/* Recuerda margen:*/
/* Vertical | Horizontal */
/* Arriba | Horizontal | Abajo */
/* Arriba | Derecha | Abajo | Izquierda */
body{
	/*box-sizing: border-box;
	border: solid white 10px;
	margin: 2%;
	padding: 1.5% 7%;*/
	background-color: white; 
    color: #525252;
	font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
	word-wrap: break-word;
}
/* Footer */
footer{
    background-color: #333333;
    color: white;
    display: inline-block;
    height: 3%;
    text-align: center; 
    vertical-align: middle;
    width: 100%;
}
/* Barra de navegacion */
nav{
    background-color: #333333;
    color: white;
    display: inline-block;
    height: 5%;
    margin: 0% 0% 2%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
nav div a{
    color: white;
    font-weight: 900;
    margin: 0% 0%;
    text-transform: uppercase;
    text-decoration: none;
}
nav div a:hover{
    color: #d3d3d3;
}
/* Bloque principal */
main{
    margin: 0% 20% 5%;
}
article div img{
    height: 15%;
    width: 15%;
}
img{
    display: block;
    height: 35%;
    margin: auto;
    width: 40%;
}
img.small{
    height: 15%;
    width: 15%;
}
div.prepie{
    background-color: #e7e7e7; 
    border-radius: 7%;
    color: #5f5f5f;
    font-weight: bolder;
    margin: 2% 20%;
}
section img{
    border-radius: 60%;
}
h1{
    color: #313131;
}
h2{
    color: #404040;
}
div{
    margin: 0.5% 0%;
}
div sec{
    font-weight: 900;
}
p.error{
    color:darkred;
}